<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<title>
		Account activation
	</title>
	<style>
		.container {
			width: 100%;
			height: 100%;
			display: grid;
			align-items: center;
			justify-items: center;
		}
		p {
			text-align: center;
		}
	</style>
</head>
<body class="container">
	<div>
		<p>Account succesfully activated !</p>
		<p>click the button below to navigate to the app</p>
		<p>
			<a href="/exemple/home">
				<button class="btn btn-primary">Home</button>
			</a>
		</p>
	</div>
</body>
