<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="http://127.0.0.1:8080/assets/css/output.css"> 
</head>
<body class="bg-red-300">
{% block body %}{% endblock %}
</body> 
</html>
