<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheet %}
    {{ encore_entry_link_tags('index') }}
  {% endblock %}
  {% block javascript %}
    {{ encore_entry_script_tags('index') }}
  {% endblock %}
</head>
<body class="bg-red-300">
{% block body %}{% endblock %}
</body> 
</html>
