<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheet %}
    {{ encore_entry_link_tags('index') }}
  {% endblock %}
  {% block javascript %}
    {{ encore_entry_script_tags('index') }}
  {% endblock %}
</head>
<body>
  <nav class="container flex justify-around py-8 mx-auto border-b-2">
    <a href="/">
      <div class="flex items-center">
        <img class="w-28 pr-3" src="{{ asset("/build/images/logo.d391a209.png")}}" />
        <h1 class="font-medium text-blue-400"><span class="text-black">BILL</span> ME</h1>
      </div>
    </a>
    <div class="items-center hidden space-x-8 lg:flex">
      <a class="nav-link px-3" href="/"><h3>Overviews</h3></a>
      <a class="nav-link px-3" href=""><h3>Transactions</h3></a>
      <a class="nav-link px-3" href=""><h3>Categories</h3></a>
  
    </div>
    <div class="flex items-center space-x-2">
      <button class="btn btn-primary">
        Sign in
      </button>
      <button class="btn btn-secondary">
        Sign up
      </button>
    </div>
  </nav>
{% block body %}{% endblock %}
</body> 
</html>
